<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="customization" translate="label" sortOrder="10">
            <label>Customization</label>
        </tab>
        <section id="append_message" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Custom notification messages</label>
            <tab>customization</tab>
            <resource>Khoai_AppendMessage::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Append text to all notification messages</label>
                <field id="append_text" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Text to append</label>
                    <!--<comment></comment>-->
                </field>
            </group>
        </section>
    </system>
</config>